<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <h1 ng-hide="createCampaignCtrl.isCloneCampaign" class="section__title">
                    {{ 'Create campaign' | translate }}
                </h1>
            </div>
        </header>
    </section>
    <section class="create-campaign section__body section__body--secondary">
        <div class="inner">
            <div class="sidebar">
                <div class="content">
                    <h4>{{ 'Name' | translate }}</h4>
                    <div class="form__group form__group--section">
                        <label class="form__label">{{ 'Campaign Tag' | translate }}</label>
                        <p>{{ 'Only one campaign tag is allowed.' | translate }}</p>
                        <tags-input ng-model="createCampaignCtrl.campaignName"
                            name="campaignTag" placeholder="{{ 'choose from existing tags or create a new one' | translate }}"
                                    replace-spaces-with-dashes="false" max-tags="1">
                            <auto-complete source="editProjectCtrl.getCampaignTags($query)"></auto-complete>
                        </tags-input>
                    </div>

                    <!-- <form class="form" name="createCampaignCtrl.campaignNameForm">
                        <div>
                            <label class="form__label" for="campaignName">{{ 'Campaign name' | translate }}</label>
                            <input type="text" class="form__control form__control--medium" id="campaignName"
                                   name="campaignName"
                                   ng-class="{ 'ng-touched': createCampaignCtrl.campaignNameForm.submitted }" required
                                   ng-model="createCampaignCtrl.campaignName"
                            />
                        </div>
                        <div role="alert">
                            <p class="error"
                                  ng-show="createCampaignCtrl.campaignNameForm.submitted && createCampaignCtrl.campaignNameForm.campaignName.$error.required">
                                {{ 'Required' | translate }}
                            </p>
                            <div ng-show="createCampaignCtrl.createCampaignFailReason == 500"
                                 class="error" role="alert">
                                <p>
                                    <strong>{{ 'Error' | translate }}:</strong> {{ 'Campaign could not be created. The exact reason could not be determined.' | translate }}
                                </p>
                            </div>
                            <span ng-show="createCampaignCtrl.createCampaignSuccess">
                                {{ 'Your campaign was created successfully.' | translate }}
                            </span>
                        </div>
                    </form>
                    <div class="navigation-steps">
                        <div class="button-group button-group--stacked" role="group">
                            <button class="button button--primary" type="button"
                                    ng-click="createCampaignCtrl.createCampaign()">
                                <span ng-hide="createCampaignCtrl.isCloneCampaign">{{ 'Create' | translate }}</span>
                            </button>
                        </div>
                        <div ng-show="createCampaignCtrl.waiting">
                            <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i><span>{{ 'Creation in progress...' | translate }}</span>
                        </div>

                    </div> -->
                </div>
            </div>
        </div>
    </section>
</div>
